/KoreDataGateway/app/__pycache__
/KoreReference/app/__pycache__
/KoreLibrary/data
/KoreReference/data
/KoreLibrary/app/__pycache__
/KoreReference/app/importers/__pycache__
KoreDataGateway/data/gateway.log
KoreFeed/actions.log
